/* regole generali */

.float-left {
  float: left;
}

.radius {
  border-radius: 5px;
}

.margin-bot {
  margin-bottom: 30px;
}

.background-col {
  background-color: white;
}

.size-3 {
  width: calc(100% / 3);
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 50%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  background-image: url("../img/background.png");
  background-repeat: repeat;
}

/* header */

header {
  margin-top: 20px;
}

/* logo */

.logo-box {
  position: relative;
  height: 350px;
  border: 10px solid white;
  background-image: url(../img/logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.logo img {
  height: 200px;
}

/* titolo logo */

h1 {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

/* navbar */

.navbar {
  height: 40px;
  width: 100%;
  background-color: #666666;
  text-align: center;
}
.navbar ul {
  line-height: 40px;
}
.navbar li {
  display: inline-block;
  padding: 0 15px;
  list-style: none;
  text-transform: uppercase;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.navbar a {
  text-decoration: none;
  color: #939393;
}
.navbar a:hover {
  color: #ffffff;
}
.navbar li:hover {
  background-color: rgba(0, 0, 0, 0.5)
}
.navbar ul li:first-child {
  border-left: 0;
}
.navbar ul li:last-child {
  border-right: 0;
}

/* zona contenuti */

main {
  margin: 10px 0 20px;
}
main::after {
  content: "";
  display: table;
  clear: both;
}

/* colonna sinistra */

.col-left {
  width: 20%;
  background-color: white;
  padding: 5px;
}
.col-left a {
  text-decoration: none;
  color: green;
}
.col-left a:hover {
  text-decoration: underline;
}

.col-left ul {
  list-style: none;
}
.col-left li {
  padding: 5px;
}

.col-left-header:after {
  content: "";
  display: table;
  clear: both;
}

.col-left-title {
  width: 20px;
  padding-left: 5px;
  font-size: 25px;
}

.col-left-list {
  display: inline-block;
}

.col-header i {
  font-size: 30px;
  color: orange;
}

/* colonna centrale */

.col-middle {
  width: 50%;
  margin: 0 5%;
  background-color: white;
}

/* colonna destra */

.col-right {
  width: 20%;
}

/* footer */

footer {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  padding: 5px;
  background-color: white;
}

/* scritta crediti */

.credits {
  height: 20px;
  width: 100%;
  font-style: italic;
  color: #b1b1b1;
}

hr {
  color: white;
}

/* icone social */

.social {
  padding: 10px;
}
.social:after {
  content: "";
  display: table;
  clear: both;
}

.social a {
  font-size: 50px;
  color: #b1b1b1;
}

.social i:hover {
  color: #636363;
}
